<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="font-size: 10px;">
  <div>
    <center>
      <h2><b>ДОГОВОР №{{store_contract_number}}</b></h2>
      <p>
        <b>Об обеспечение программных услуг</b> 
      </p>
      <p>
        <b>для продажи товаров в рассрочку</b>
      </p>
    </center>

    <!-- shahar va sanani joylashtirish uchun -->
  <table style="width: 100%; border-collapse: collapse;">
    <tr>
      <td style="text-align: left;">{{city}}</td>
      <td style="text-align: right;">{{date}}</td>
    </tr>
  </table>

  <p>
    Частный предприятия <b> << CREDIT PRO >> </b> действующие на основании УСТАВА в дальнейшим <b><<ПРОГРАММИСТ>></b> В лице Директора Абдурахманов Абдувахоб Абдушукурович с одной страны, с другой страны {{store_name}} далее именуемое <b><<ПОЛЬЗОВАТЕЛЬ>></b> в лице {{store_director}} действующего на основании ___________ с другой стороны совместно заключили настоящий договор о нижеследующем.
  </p>
  </div>

  {{!-- 1.	ПРЕДМЕТ ДОГОВОРА --}}
  <div>
    <center>
      <h3>
        <b>
          1.	ПРЕДМЕТ ДОГОВОРА
        </b>
      </h3>
    </center>

    <p>
      <span>
        1.1 По-настоящему договора <b><<ПРОГРАММИСТ>></b> обязуются, обеспечит <b><<ПОЛЬЗОВАТЕЛЬ>></b> я с программное обеспеченным для продажи товаров в рассрочку.
      </span>
      <br>

      <span>
        1.2 <b><<ПОЛЬЗОВАТЕЛЬ>></b> обязуется использовать программу по инструкции и целее сообразна. Своевременно произвести ежемесячное оплату за услугу.  
      </span>
    </p>
  </div>

  {{!-- 2. ПРАВА И ОБЯЗАННОСТИ СТОРОН. --}}
  <div>
    <center>
      <h3>
        <b>
          2. ПРАВА И ОБЯЗАННОСТИ СТОРОН.
        </b>
      </h3>
    </center>

    <p>
      <span>
        2.1 <b><<ПРОГРАММИСТ>></b> обязуется, обеспечит <<ПОЛЬЗОВАТЕЛЬ>> я личным логином для входа в программу и обеспечит авто списание ежемесячное оплаты клиента через онлайн систему и   без прорывный работы в системе.
      </span>
      <br>

      <span>
        2.1.1 <b><<ПРОГРАММИСТ>></b> обязуется, в программе оказать услуги по <b><u>(SCORING)</u></b> скорингу (за отдельное оплату 3.2) информация о клиенте (отдельное договор) и списание долга через систему. 
      </span>
      <br>

      <span>
        2.2 <b><<ПОЛЬЗОВАТЕЛЬ>></b> имеет права обратиться в <b><u>ТРИТЕРСКИЙ СУД</u></b> по ежемесячное оплаты, в случи клиент не обеспечит ежемесячное оплаты своевременно. С решением суда документы клиента отправит на <b><u>(МИБ)</u></b> Бюро Принудительного Исполнения и своём системе за регистрируют в статусе не <b><u>пунктуален.</u></b> 
      </span>
      <br>

      <span>
        2.3 <b><<ПОЛЬЗОВАТЕЛЬ>></b> обязуется иметь для себя все необходимые для использование программы; А) Компьютер, Б) Принтер, В) Интернет.
      </span>
      <br>
      
      <span>
        2.4 <b><<ПОЛЬЗОВАТЕЛЬ>></b> иметь права потребовать дополнительное логин для своего филиала за отдельную плату.
      </span>
    </p>
  </div>

  {{!-- 3. СТОИМОСТЬ УСЛУГ И ПРЯДОК РАСЧЁТОВ. --}}
  <div>
    <center>
      <h3>
        <b>
          3. СТОИМОСТЬ УСЛУГ И ПРЯДОК РАСЧЁТОВ.
        </b>
      </h3>
    </center>

    <p>
      <span>
        3.1 Стоимость программных, обеспечении техническое услуги по телефону одного логина за месяц составляет <b><u>450 000 (четыреста пятьдесят тысячи) Сум.</u></b>
      </span>
      <br>

      <span>
        3.2 Оплата за услуги по <b><u>(SCORING)</u></b> скорингу составляет <b><u>5 000 (пять тысячи) Сум за одну запрос.</u></b> Минимальное оплата за месяц <b><u>150 000 (сто пятьдесят тысячи) Сум,</u></b> производиться <b><u>100%</u></b> предоплатой, причислением на расчётный счёт <b><<ПРОГРАММИСТ>></b> а, до 10 – число каждого месяца.
      </span>
      <br>

      <span>
        3.2.1 За услуги авто списание ежемесячное онлайн оплати составляет <b><u>3 % (три процента)</u></b> от суммы и удерживается вовремя трансакции автоматический.
      </span>
      <br>

      <span>
        3.2.2 Если клиент не обеспечить условия для списание ежемесячное оплаты течение 2-х месяца, после обращение <b><<ПОЛЬЗОВАТЕЛЬ>></b> я <b><<ПРОГРАММИСТ>></b> включает систему <b>ПИНФЛ</b> и автоматический снимает денежных средства во всех картах имеющие на имя клиента.  За это услугу с клиента снимается штраф, <b>5%</b> сумма от остатки.
      </span>
      <br>

      <span>
        3.3 Программа автоматический заблокируют <b><<ПОЛЬЗОВАТЕЛЬ>></b> я за не своё временное предоплаты за ежемесячною оплаты и за услуги. Активируются только после проведения оплаты автоматическом режиме.  
      </span>
      <br>

      <span>
        3.4 <b><<ПРОГРАММИСТ>></b> имеет права изменит стоимость услуг одностороннем порядке и посменно сообщит об этом <b><<ПОЛЬЗОВАТЕЛЬ>></b> ю. Только со следующего месяца оплата производиться по новому тарифу.
      </span>
    </p>
  </div>

  {{!-- 4. ОТВЕТСТВЕННОСТЬ СТОРОН. --}}
  <div>
    <center>
      <h3>
        <b>
          4. ОТВЕТСТВЕННОСТЬ СТОРОН.
        </b>
      </h3>
    </center>

    <p>
      <span>
        4.1 <b><<ПОЛЬЗОВАТЕЛЬ>></b> несёт ответственность на внесённом информации в программу за верность и за конфиденциальность. 
      </span>
      <br>

      <span>
        4.2 <b><<ПРОГРАММИСТ>></b> несёт ответственность за сохранение информации   внесённом 	всеми пользователями.
      </span>
    </p>
  </div>

  {{!-- 5. КОНФИДЕНЦИАЛЬНОСТЬ. --}}
  <div>
    <center>
      <h3>
        <b>
          5. КОНФИДЕНЦИАЛЬНОСТЬ.
        </b>
      </h3>
    </center>

    <p>
      <span>
        5.1 <<ПОЛЬЗОВАТЕЛЬ>> обязан   сохранит в тайне всю информации о программе, а также о каждом клиенте. Разглашать информацию или обсуждать клиента даже между   сотрудниками строго запрещается.
      </span>
      <br>

      <span>
        5.2 <b><<ПРОГРАММИСТ>></b> не имеет право выдавать какой-либо информации о пользователя третьему лицу, а также, проверяющем органам без санкции. Если против <b><<ПОЛЬЗОВАТЕЛЬ>></b> я возбуждён уголовный или административный дело, и проверяющие органы   потребуют информацию официально, то   тогда <b><<ПРОГРАММИСТ>></b> будет вынужден, предоставит информацию о <<ПОЛЬЗОВАТЕЛЬ>> я.
      </span>
    </p>
  </div>

  {{!-- 6. РАЗРЕШЕНИЕ СПОРОВ. --}}
  <div>
    <center>
      <h3>
        <b>
          6. РАЗРЕШЕНИЕ СПОРОВ.
        </b>
      </h3>
    </center>

    <p>
      <span>
        6.1 Споры и разногласия, которые могут возникнуть при исполнении настоящего договора будет по возможности разрешиться путём переговоров между Сторонами.
      </span>
      <br>

      <span>
        6.2 В случае невозможности разрешения споров путём переговоров Стороны предают их на рассмотрение в хозяйственный суд по месту нахождения ответчика.
      </span>
    </p>
  </div>

  {{!-- 7.  СРОК ДЕЙСТВИЯ ДОГОВОРА. --}}
  <div>
    <center>
      <h3>
        <b>
          7.  СРОК ДЕЙСТВИЯ ДОГОВОРА.
        </b>
      </h3>
    </center>

    <p>
      <span>
        7.1 Настоящий договор наступает в силу   с момента подписания и действует   до конца действии Сторон, или письменном виде один из Сторон могут приостановит действии договора.
      </span>
      <br>

      <span>
        7.2 Настоящий договор составлен на русском языке в двух экземплярах, имеющих одинаковую юридическую силу, по одному для каждой из Сторон.
      </span>
    </p>
  </div>

  {{!-- 8. АДРЕСА И БАНКОВСКИЕ РЕКВИЗИТЫ СТОРОН. --}}
  <div>
    <center>
      <h3>
        <b>
          8. АДРЕСА И БАНКОВСКИЕ РЕКВИЗИТЫ СТОРОН.
        </b>
      </h3>
    </center>

        <table style="width: 100%; border-collapse: collapse; text-align: center;">
      <thead>
        <tr>
        <th style="max-width: 45%;"><<ПРОГРАМИСТ> ></th>
        <th style="max-width: 10%;"></th>
        <th style="max-width: 45%;"><<ПОЛЬ ЗОВОТЕЛЬ>></th>
      </tr>
      </thead>

      <tbody>
        <tr style="text-align: left;">
        <td style="max-width: 45%;">
          <b>Ч. П. << CREDIT PRO >></b>
        </td>
        <td style="max-width: 10%;"></td>
        <td style="max-width: 45%;">
          <b>{{store_name}}</b>
        </td>
      </tr>

      <tr style="text-align: left;">
        <td style="max-width: 45%;">
          <b>Ташкентскийрайон.Келес Ул.КелесйулиДом1/2.</b>                                  
        </td>
        <td style="max-width: 10%;"></td>
        <td style="max-width: 45%;">
          <b>{{store_address}}</b>
        </td>
      </tr>

      <tr style="text-align: left;">
        <td style="max-width: 45%;">
          <b>Р/С 20218000700948068001.</b>
        </td>
        <td style="max-width: 10%;"></td>
        <td style="max-width: 45%;">
           <b>Р/С {{store_bank_number}} </b>
        </td>
      </tr>

      <tr style="text-align: left;">
        <td style="max-width: 45%;">
          <b>НацбанкВЭДОлмазарский ф-л.</b>
        </td>
        <td style="max-width: 10%;"></td>
        <td style="max-width: 45%;">
          <b>{{store_bank_address}}</b> 
        </td>
      </tr>

      <tr style="text-align: left;">
        <td style="max-width: 45%;">
          <b>МФО - 00876. ИНН - 305887601.</b>
        </td>
        <td style="max-width: 10%;"></td>
        <td style="max-width: 45%;">
          <b>МФО - {{store_mfo}}. ИНН - {{store_stir}}.</b>
        </td>
      </tr>

      <tr style="text-align: left;">
        <td style="max-width: 45%;">
          <b>Тел: +99890 177 08 78.</b>
        </td>
        <td style="max-width: 10%;"></td>
        <td style="max-width: 45%;">
          <b> {{store_phone}} </b>
        </td>
      </tr>
      <tr style="text-align: left;">
        <td style="max-width: 45%;">
          <b>АБДУРАХМАНОВ А.А.___________ </b>
        </td>
        <td style="max-width: 10%;"></td>
        <td style="max-width: 45%;">
          <b>{{store_director}}____________</b>
        </td>
      </tr>
      <tr style="text-align: left;">
        <td style="max-width: 45%;">
          <b>М.П.</b>
        </td>
        <td style="max-width: 10%;"></td>
        <td style="max-width: 45%;">
          <b>М.П.</b>
        </td>
      </tr>
      </tbody>
      
    </table>
  </div>

</body>
</html>