<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body style="font-size: 10px;">
  <div>
    
  <div style="max-width: 1200px; margin:auto;">
    <center>
      <h2><b>SHARTNOMA №{{store_contract_number}}</b></h2>
      <p>
        <b>MUDDATLI TO`LOV ASOSIDA SAVDO QILUVCHI TASHKILOTLARGA</b> 
      </p>
      <p>
        <b>DASTURIY XIZMAT KO`RSATISH TO`GRISIDA</b>
      </p>
    </center>

    <!-- shahar va sanani joylashtirish uchun -->
  <table style="width: 100%; border-collapse: collapse;">
    <tr>
      <td style="text-align: left;">{{city}}</td>
      <td style="text-align: right;">{{date}}</td>
    </tr>
  </table>

  <p>
    Xususiy korxona <b> “CREDIT PRO” </b> tomonidan Direktor  Abduraxmonov     Abduvaxob  Abdushukurovich (quyida <b>“DASTURCHI”</b> deb yuritiladi) Ustav  asosida ish yurituvchi. Ikkinchi  tomondan {{store_name}} ___________ga asosan ish yurituvchi, quyida <b>“FOYDALANUVCHI”</b> (deb yuritiladi)  tomonidan raxbar {{store_director}} ushbu shartnomani tuzdilar.
  </p>
  </div>

  <!--1.	SHARTNOMA SHARTLARI-->
  <div>
    <center>
      <h3>
        <b>1.	SHARTNOMA SHARTLARI</b>
      </h3>
    </center>
    <p>
      <span>
        1.1 <b>“DASTURCHI”</b> Muddatli  to`lo`v   asosida  savdo  qiluvchi   tashkilotlarga   Dasturiy  va hquqiy  xizmat   ko`rsatishni   amalga oshiradi. <b>
          <u>Dasturiy  xizmat turiga Dasturchi tuzib chiqan  shaxsiy dastur bazasi va muddatli to`lovni tashkil etish uchun barcha xujjatlar va  xizmat ko`rsatish</u>
        </b> 
      </span>
      <br>

      <span>
        1.2 <b>“FOYDALANUVCHI”</b>  taklif etilayotgan dasturdan  to`gri  va ko`rsatmaga asosan foydalanishi va oylik to`lovlarni  o`z vaqtida amalga oshirishi lozim bo`ladi.
      </span>
    </p>
  </div>

  <!--2.	TOMONLARNINIG VAZIFALARI-->
  <div>
    <center>
      <h3>
        <b>2.	TOMONLARNINIG VAZIFALARI</b>
      </h3>
    </center>

    <p>
      <span>
        2.1 <b> “DASTURCHI” </b> Muddatli to`lov asosida  savdo qiluvchi  tashkilotni o`zi taklif etayotgan  dasturga   ulaydi  va  <b>“FOYDALANUVCHI”</b>  uchun  maxfiy  kirish kodi taqdim etiladi, dasturdan foydalanish to`g`risida ko`rsatmalar berib, dasturiy xizmat ko`rsatib boradi.
      </span>
      <br>

      <span>
          2.1.1 Dasturiy xizmat turlari bir nechta bo`lib (bazilariga qo`shimcha haq to`lanadi3.2 bandda ko`rsatiladi) 1. <b><u>SKORING</u></b> xizmati. 2. Mijozlarning bank kartalaridan oylik to`lovlarni avtomatik tarzda yechish. 3. Qarzdorlikni undirish.
      </span>
      <br>

      <span>
        2.2 Mijozlar shartnoma shartlarini bajarmagan xollarda, 2 oy mobaynida to`lovlarni amalga oshirmasa ogohlantirish ishlarini olib boradi.Natija bo`lmagan holda 2- oyda  <b><u>TOSHKENT SHAHAR HAKAMLIK SUDI</u></b> orqali ishni sudga oshirib, Sud qaroriga asosan  mijozdan <b><u>(MIB)</u></b> Majburiy Ijro Buyrosi orqali to`lovni undirishga yboradi va o`zining dasturiy bazasiga <b><u>MASULIYATSIZ</u></b> sifatida ro`yxatga oladi. 
      </span>
      <br>

      <span>
        2.3   <b>“FOYDALANUVCHI”</b>  o`z faoliyatidan kelib chiqqan holda qo`shimcha to`lov evaziga. qo`shimcha login olish huquqiga ega.
      </span>
      <br>

      <span>
        2.4 <b>“FOYDALANUVCHI”</b> dasturdan foydalanish uchun zarur bo`ladigan       uskunalar bilan jixozlanishi zarur boladi: <b><u>1) KOMPYUTER, 2) PRINTER,3) INTERNET.</u></b> 
      </span>
    </p>
  </div>

  <!--3.	XIZMAT UCHUN TO`LO`V TO`G`RISIDA-->
  <div>
    <center>
      <h3>
        <b>3.	XIZMAT UCHUN TO`LO`V TO`G`RISIDA</b>
      </h3>
    </center>

    <p>
      <span>
        3.1 Dasturdan  foydalanish  xizmati uchun to`lo`v qiymati  xar bir login uchun <b>450 000(To`rt  yuz ellik ming)</b> So`mni tashkil etadi. Bunga qo`shimcha xizmat turlari ham kiradi.
      </span>
      <br>

      <span>
        3.2 <b>“FOYDALANUVCHI”</b>   xar bir logindan foydalanilgan qo`shimcha xizmat uchun oldindan to`lovni amalga oshirishi lozim bo`ladi. Qo`shmcha xizmatlar uchun to`lovlar ixtiyoriy ravishda, lekin 30 ta dan kam bo`lmagan xolda, har bir  <b><u>SKORING</u></b> xizmati uchun <b>5 000 (besh ming)</b> so`m, bo`lgan to`lovni, yani 1 oy uchun eng kamida <b>150 000(bir yuz ellik ming)</b> so`m bo`lgan pul mablag`ni, <b>“DASTURCHI”</b> ning  hisob raqamiga pul o`tkazish yo`li bilan <b>100%</b> to`liq va muntazam o`tkazib turishi lozim bo`ladi.
      </span>
      <br>

      <span>
        3.2.1 Yana bir qo`shimcha  xizmat  turi Mijozdan oylik to`lovlarni onlayin yechish xizmati uchun  to`lovni dastur avtomatik tarzda yechib qoladi. Ushbu xizmat turi o`tkazilgan pul qiymatining <b>3%</b> ni tashkil etadi. 
      </span>
      <br>

      <span>
        3.2.2 Qarzdorlik yuzaga kelgan holda, mijoz 2 oy mobaynida to`lovlarni amalga oshirmasa <b>“DASTURCHI”</b> PENEFEL orqali mijozning nomida bo`lgan barcha kartalardan avtomatik tarzda pul yechish tizimini ishga tushiradi va ushbu hizmat uchun mijozdan, undirilgan qiymatdan  5% hizmat haqqi olinadi..  
      </span>
      <br>

      <span>
        3.3 <b>“DASTURCHI”</b>  xar bir login uchun  va qo`shimcha xizmatlar uchun to`lovlar  o`z vaqtida amalga oshrilmagan xolda <b>“FOYDALANUVCHI”</b> ni tarmoqqa kirishini avtomatik tarzda  taqiqlab qo`yadi va to`lov amalga oshirilgan holdagina dasturga kirish avtomatik tarzda  qayta tiklanadi.
      </span>
      <br>

      <span>
        3.4 <b>“DASTURCHI”</b> xar bir login uchun to`lov qiymatini o`zining sarf- xarajatlaridan kelib chiqaqan va Hakamlik sudining xarajatlaridan kelib chiqqan xolda bir tomonlama o`zgartirish  huquqiga ega.
      </span>
      <br>

      <span>
        3.5 Oylik to`lov qiymati o`zgargan xolda <b>“DASTURCHI”</b> yozma ravishda <b>“FOYDALANUVCHI”</b> ga Ma`lum qiladi, va keyingi oydan boshlab yangi narxda to`lo`vni amalga oshiradi.
      </span>
    </p>
  </div>

  <!--4.	TOMONLARNING JAVOBGARLIKLARI -->
  <div>
    <center>
      <h3>
        <b>4.	TOMONLARNING JAVOBGARLIKLARI</b> 
      </h3>
    </center>

    <p>
      <span>
        4.1 <b>“FOYDALANUVCHI”</b> dasturga o`zi tomonidan kiritilgan har bir ma`lumot uchun javobgardur va dasturdagi barcha ma`lumotlarni sir saqlashi lozim.
      </span>
      <br>

      <span>
        4.2 <b>“FOYDALANUVCHI”</b> har bir mijoz bilan tuzilgan shartnoma va uning shartlarini bajarilishi  ushun faqatgina o`zi jovobgardir.
      </span>
      <br>

      <span>
        4.3 <b>“DASTURCHI”</b> hamma <b>“FOYDALANUVCHI”</b>lar kiritgan ma`lumotlarni sir saqlash uchun javobgar.
      </span>
      <br>
    </p>
  </div>

  <!--5. MA`LUMOTLARNI SIR SAQLASH TO`GRISIDA-->
  <div>
    <center>
      <h3>
        <b>5. MA`LUMOTLARNI SIR SAQLASH TO`GRISIDA</b>
      </h3>
    </center>

    <p>
      <span>
        5.1 <b>“FOYDALANUVCHI”</b>   dasturga o`zi tomonidan kiritilgan va dasturdagi barcha ma`lumotlarni sir   saqlamoqligi va xech kimga oshkor qilmasligi shart
      </span>
      <br>

      <span>
        5.2 <b>“DASTURCHI”</b> dasturdagi barcha ma`lumotlarni va barcha <b>“FOYDALANUVCHI”</b>lar  to`grisidagi ma`lumotlarni  biron kimsaga yoki  tekshiruvchi idoralarga berishi qatiyan man etiladi. Agar <b>“FOYDALANUVCHI”</b> ustidan jinoiy yoki ma`muriy ish ochilgan bo`lsa xuquq- targibot idoralari yozma talabnoma bilan murojat etsa, unday xolda <b>“DASTURCHI”</b> barcha ma`lumotlarni     taqdim   etishga majbur bo`ladi.
      </span>
    </p>
  </div>

  <!--6. TURLI VAZIYATLAR-->
  <div>
    <center>
      <span>
        <h3>
          <b>6. TURLI VAZIYATLAR</b>
        </h3>
      </span>
    </center>

    <p>
      <span>
        6.1 Shartnomaning amal qilsh muddatida biron – bir kelishmovchilik, turli muamolar yuzaga kelsa u xolda tomonlar o`z aro yozma ravishda kelishib olishadi.
      </span>
      <br>

      <span>
        6.2 O`z aro yozma kelishuv tomonlarni qoniqtirmasa tomonlar javobgarning xududiy xo`jalik sudiga murojat qilishlari mumkin bo`ladi.
      </span>
    </p>
  </div>

  <!--7. SHARTNOMA MUDDATI-->
  <div>
    <center>
      <h3>
        <b>7. SHARTNOMA MUDDATI</b>
      </h3>
    </center>

    <p>
      <span>
        7.1 Shartnoma ikki tomondan imzolanib, muxir bosilgandan so`ng kuchga ega bo`ladi va ishtirokchilar tomonidan bekor qilinguniga qadar amal qiladi.
      </span>
      <br>

      <span>
        7.2 Shartnoma xar bir ishtirokchi uchun, ikki nusxada tuzildi va ikkisi xam bir xil xuquqiy kuchga egadur.
      </span>
    </p>
  </div>

  <!--8. MANZIL VA MALUMOTLAR-->
  <div>
    <center>
      <h3>
        <b>8. MANZIL VA MALUMOTLAR</b>
      </h3>
    </center>

      <table style="width: 100%; border-collapse: collapse; text-align: center;">
      <thead>
        <tr>
        <th style="width: 40%;">“DASTURCHI”</th>
        <th style="width: 20%;"></th>
        <th style="width: 40%;">“FOYDALANUVCHI”</th>
      </tr>
      </thead>

      <tbody>
        <tr style="text-align: left;">
        <td style="max-width: 40%;">
          Xususiy korxona <b> “CREDIT PRO”</b>
        </td>
        <td style="max-width: 20%;"></td>
        <td style="max-width: 40%;">
          <b>{{store_name}}</b>
        </td>
      </tr>

      <tr style="text-align: left;">
        <td style="max-width: 40%;">
          <b>Toshkent vil. Toshkent tumani. Keles. Keles yo`li ko`chasi, 1\2 uy.</b>                                  
        </td>
        <td style="max-width: 20%;"></td>
        <td style="max-width: 40%;">
          <b>{{store_address}}</b>
        </td>
      </tr>

      <tr style="text-align: left;">
        <td style="max-width: 40%;">
          <b>X/R 20208000700948068001.MFO 00876.</b>
        </td>
        <td style="width: 20%;"></td>
        <td style="max-width: 40%;">
           <b>X/R {{store_bank_number}} MFO {{store_mfo}} </b>
        </td>
      </tr>

      <tr style="text-align: left;">
        <td style="max-width: 40%;">
          <b>MILLIY BANK OLMAZOR Bo`limi</b>
        </td>
        <td style="width: 20%;"></td>
        <td style="max-width: 40%;">
          <b>{{store_bank_address}}</b> 
        </td>
      </tr>

      <tr style="text-align: left;">
        <td style="max-width: 40%;">
          <b>STIR: 305887601</b>
        </td>
        <td style="width: 20%;"></td>
        <td style="max-width: 40%;">
          <b>STIR: {{store_stir}}</b>
        </td>
      </tr>

      <tr style="text-align: left;">
        <td style="max-width: 40%;">
          <b>Tel: +99890 177 08 78.</b>
        </td>
        <td style="width: 20%;"></td>
        <td style="max-width: 40%;">
          <b> {{store_phone}} </b>
        </td>
      </tr>
      <tr style="text-align: left;">
        <td style="max-width: 40%;">
          <b>Abdurahmonov A.A.____________</b>
        </td>
        <td style="width: 20%;"></td>
        <td style="max-width: 40%;">
          <b>RAXBAR {{store_director}}____________</b>
        </td>
      </tr>
      <tr style="text-align: left;">
        <td style="max-width: 40%;">
          <b>M.O`.</b>
        </td>
        <td style="width: 20%;"></td>
        <td style="max-width: 40%;">
          <b>M.O`.</b>
        </td>
      </tr>
      </tbody>
      
    </table>
  </div>
  </div>
</body>
</html>